In [139]:
import pandas as pd
from pandas.io.json import json_normalize
import requests
import json
from urllib3.exceptions import InsecureRequestWarning
from urllib3 import disable_warnings
import time
import re

In [140]:
with open("/Users/elaine/Desktop/side_project/stock_price/3711.json","r") as f:  #change file
    
    json_data = json.loads(f.read())
    json_str = '[' + ','.join(json_data) + ']'
df = pd.read_json(json_str)
df

,stat,total,date,title,fields,data,notes
0,很抱歉，沒有符合條件的資料!,0,NaT,NaN,NaN,NaN,NaN
1,很抱歉，沒有符合條件的資料!,0,NaT,NaN,NaN,NaN,NaN
2,很抱歉，沒有符合條件的資料!,0,NaT,NaN,NaN,NaN,NaN
3,很抱歉，沒有符合條件的資料!,0,NaT,NaN,NaN,NaN,NaN
4,很抱歉，沒有符合條件的資料!,0,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
127,OK,23,1970-08-23 00:53:21,111年08月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[[111/08/01, 6,663,254, 572,065,089, 86.20, 86...","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不..."
128,OK,21,1970-08-23 00:55:01,111年09月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[[111/09/01, 10,593,491, 886,233,160, 83.90, 8...","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不..."
129,OK,20,1970-08-23 00:56:41,111年10月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[[111/10/03, 16,185,666, 1,262,411,947, 78.90,...","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不..."
130,OK,22,1970-08-23 00:58:21,111年11月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[[111/11/01, 7,941,201, 634,932,629, 79.90, 80...","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不..."
131,OK,22,1970-08-23 01:00:01,111年12月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[[111/12/01, 25,638,964, 2,571,493,463, 99.00,...","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不..."

In [141]:
df = df.explode('data')
df = pd.concat([df.drop(['data'], axis=1), df['data'].apply(pd.Series)], axis=1) #axis = 0(直向合併) axis = 1(左右合併)
df.drop(df.columns[0:3],axis=1,inplace = True)

df

,title,fields,notes,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
131,111年12月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不...",111/12/26,"3,654,377","342,256,331",93.80,94.00,93.00,94.00,+0.20,"2,357"
131,111年12月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不...",111/12/27,"3,642,219","344,435,527",94.50,94.90,94.20,94.50,+0.50,"2,436"
131,111年12月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不...",111/12/28,"5,060,834","473,628,963",93.70,94.30,93.20,93.50,-1.00,"3,292"
131,111年12月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不...",111/12/29,"4,744,988","440,912,266",92.60,93.80,92.10,93.80,+0.30,"2,931"
131,111年12月 3711 日月光投控 各日成交資訊,"[日期, 成交股數, 成交金額, 開盤價, 最高價, 最低價, 收盤價, 漲跌價差, 成交筆數]","[符號說明:+/-/X表示漲/跌/不比價, 當日統計資訊含一般、零股、盤後定價、鉅額交易，不...",111/12/30,"4,331,987","407,658,718",94.60,94.80,93.80,93.90,+0.10,"2,101"

In [142]:
df.drop(df.columns[1:3],axis=1,inplace = True)
df

,title,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
131,111年12月 3711 日月光投控 各日成交資訊,111/12/26,"3,654,377","342,256,331",93.80,94.00,93.00,94.00,+0.20,"2,357"
131,111年12月 3711 日月光投控 各日成交資訊,111/12/27,"3,642,219","344,435,527",94.50,94.90,94.20,94.50,+0.50,"2,436"
131,111年12月 3711 日月光投控 各日成交資訊,111/12/28,"5,060,834","473,628,963",93.70,94.30,93.20,93.50,-1.00,"3,292"
131,111年12月 3711 日月光投控 各日成交資訊,111/12/29,"4,744,988","440,912,266",92.60,93.80,92.10,93.80,+0.30,"2,931"
131,111年12月 3711 日月光投控 各日成交資訊,111/12/30,"4,331,987","407,658,718",94.60,94.80,93.80,93.90,+0.10,"2,101"

In [143]:
df.columns = ["Stock Code","Date","Trade Volume","Trade Value","Opening Price","Highest Price","Lowest Price","Closing Price","Change","Transaction"]
df

,Stock Code,Date,Trade Volume,Trade Value,Opening Price,Highest Price,Lowest Price,Closing Price,Change,Transaction
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
131,111年12月 3711 日月光投控 各日成交資訊,111/12/26,"3,654,377","342,256,331",93.80,94.00,93.00,94.00,+0.20,"2,357"
131,111年12月 3711 日月光投控 各日成交資訊,111/12/27,"3,642,219","344,435,527",94.50,94.90,94.20,94.50,+0.50,"2,436"
131,111年12月 3711 日月光投控 各日成交資訊,111/12/28,"5,060,834","473,628,963",93.70,94.30,93.20,93.50,-1.00,"3,292"
131,111年12月 3711 日月光投控 各日成交資訊,111/12/29,"4,744,988","440,912,266",92.60,93.80,92.10,93.80,+0.30,"2,931"
131,111年12月 3711 日月光投控 各日成交資訊,111/12/30,"4,331,987","407,658,718",94.60,94.80,93.80,93.90,+0.10,"2,101"

In [144]:
df["Date"]

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
131    111/12/26
131    111/12/27
131    111/12/28
131    111/12/29
131    111/12/30
Name: Date, Length: 1224, dtype: object

In [145]:
Company_list=[]
for stock_num in df["Stock Code"]:
    if stock_num == None:
        continue
    if isinstance(stock_num,str):
        code = stock_num[7:12]
    Company_list.append(code)
#print(Company_list)       

df["Stock Code"] = Company_list
df

,Stock Code,Date,Trade Volume,Trade Value,Opening Price,Highest Price,Lowest Price,Closing Price,Change,Transaction
0,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
131,3711,111/12/26,"3,654,377","342,256,331",93.80,94.00,93.00,94.00,+0.20,"2,357"
131,3711,111/12/27,"3,642,219","344,435,527",94.50,94.90,94.20,94.50,+0.50,"2,436"
131,3711,111/12/28,"5,060,834","473,628,963",93.70,94.30,93.20,93.50,-1.00,"3,292"
131,3711,111/12/29,"4,744,988","440,912,266",92.60,93.80,92.10,93.80,+0.30,"2,931"
131,3711,111/12/30,"4,331,987","407,658,718",94.60,94.80,93.80,93.90,+0.10,"2,101"

In [146]:
df.to_csv(f"/Users/elaine/Desktop/side_project/stock_price/test.csv",index = False,encoding='utf-8')